[build]
  command = "npm run build"
  publish = "build"

[dev]
  framework = "create-react-app"
  port = 8888
  targetPort = 3000
  publish = "public"

[functions]
  node_bundler = "esbuild"
  directory = "functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200